body {
    background-color: #0d0d0d;
}
.navbar {
    display: grid;
    grid-template-columns: 200px auto 150px 150px 150px;
    grid-template-rows: 50px;
    margin: 40px;
    
    color: white;
}
.navitem {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;

    text-align: center;
    padding-top: 17px;
}
.ni1 {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;

    grid-column: 1 / span 1;
    padding-top: 5px;
}
.ni2 {
    grid-column: 3 / span 1;
}
.ni2:hover {
    border-bottom: 1px solid white;
}
.ni3 {
    grid-column: 4 / span 1;
}
.ni3:hover {
    border-bottom: 1px solid white;
}
.ni4 {
    grid-column: 5 / span 1;
}
.ni4:hover {
    border-bottom: 1px solid white;
}

a:link {
    color: white;
    text-decoration-line: none;
}
a:visited {
    color: white;
    text-decoration-line: none;
}
a:hover {
    color: white;
    text-decoration-line: none;
}
a:active {
    color: white;
    text-decoration-line: none;
}

.container {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw ;
    grid-template-rows: 14vh 15vh 15vh 15vh 15vh 15vh;

    margin: 0px;
    background-color: #6704F2;
    color: black;
}
.cont-item {
    color: #0C0C0C;
}
.cibg {
    background-color: white;
    grid-column: 2 / span 10;
    grid-row: 2 / span 5;
}
.ci1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 15em;
    padding: 10px;
    border: 0px;
    color: white;
    grid-column: 2 / span 3;
}
.ci2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2em;
    padding: 10px;
    border: 0px;
    letter-spacing: 0;
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    text-align: left;
}
.ci3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2em;
    padding: 10px;
    border: 0px;
    letter-spacing: 0;
    grid-column: 8 / span 1;
    grid-row: 2 / span 1;
    text-align: left;
}
.ci4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2em;
    padding: 10px;
    border: 0px;
    border-left: 0px;
    letter-spacing: 0;
    grid-column: 2 / span 9;
    grid-row: 4 / span 1;
    text-align: left;
}
.ci2-5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 5em;
    padding: 10px;
    padding-top: 150px;
    border: 1px solid black;
    border-top: 0px;
    grid-column: 5 / span 3;
    grid-row: 2 / span 2;
    text-align: center;
}
.ci3-5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2em;
    padding: 10px;
    padding-top: 150px;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    grid-column: 8 / span 3;
    grid-row: 2 / span 2;
    text-align: center;
}
.ci3-6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2em;
    padding: 10px;
    padding-top: 200px;
    font-size: 2em;
    grid-column: 8 / span 3;
    grid-row: 2 / span 2;
    text-align: center;
}
.ci4-5 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 250px;
    font-size: 2em;
    border: 1px solid black;
    border-left: 0px;
    grid-column: 1 / span 4;
    grid-row: 4 / span 2;
    margin-top: -1px;
    transform: translateX(1px);
    color: #0C0C0C;
    text-align: center;
    padding-top: 11vh;
}
.ci4-6 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 250px;
    font-size: 2em;
    grid-column: 4 / span 4;
    grid-row: 4 / span 2;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    margin-top: -1px;
    transform: translateX(1px);
    color: #0C0C0C;
    text-align: center;
    padding-top: 11vh;
}
.ci4-7 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 250px;
    font-size: 2em;
    grid-column: 7 / span 4;
    grid-row: 4 / span 2;
    border: 1px solid black;
    border-right: 0px;
    margin-top: -1px;
    color: #0C0C0C;
    text-align: center;
    padding-top: 11vh;
}
.ci4-5:hover {
    background-color: rgba(12, 12, 12, 0.1);
}
.ci4-6:hover {
    background-color: rgba(12, 12, 12, 0.1);
}
.ci4-7:hover {
    background-color: rgba(12, 12, 12, 0.1);
}
.social:link {
    color: #0C0C0C;
    text-decoration-line: none;
}
.social:visited {
    color: #0C0C0C;
    text-decoration-line: none;
}
.social:hover {
    color: #0C0C0C;
    text-decoration-line: none;
}
.social:active {
    color: #0C0C0C;
    text-decoration-line: none;
}