body {
    background-color: #0d0d0d;
}
.navbar {
    display: grid;
    grid-template-columns: 200px auto 150px 150px 150px;
    grid-template-rows: 50px;
    margin: 40px;

    color: white;
}
.navitem {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;

    text-align: center;
    padding-top: 17px;
}
.ni1 {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;

    grid-column: 1 / span 1;
    padding-top: 5px;
}
.ni2 {
    grid-column: 3 / span 1;
}
.ni2:hover {
    border-bottom: 1px solid white;
}
.ni3 {
    grid-column: 4 / span 1;
}
.ni3:hover {
    border-bottom: 1px solid white;
}
.ni4 {
    grid-column: 5 / span 1;
}
.ni4:hover {
    border-bottom: 1px solid white;
}


.container {
    z-index: 0;
    display: grid;
    grid-template-columns: 150px 150px 200px 250px 250px 250px 250px 250px 250px 250px;
    grid-template-rows: 110px 110px 110px 110px 220px 220px;

    color: white;
    margin: 20px;
    grid-gap: 20px;


    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%); 
}
.ci0 {
    background-color: #6805F2;

    grid-column: 3 / span 4;
    grid-row: 2 / span 4;
}
.ci05 {
    background-color: #6805F2;

    grid-column: 10 / span 1;
    grid-row: 5 / span 2;
}
.ci1 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    width: 100%;

    grid-column: 5 / span 3;
    grid-row: 3 / span 4;
}
.ci2 {
    font-family: 'Six Caps', sans-serif;
    font-size: 25em;
    line-height: .88em;
    letter-spacing: .026em;

    grid-column: 6 / span 3;
    grid-row: 1 / span 5;
}

@media only screen and (max-width: 1300px) {
    .container {
        position: absolute;
        margin-left: 50%;
        transform: translateX(-55%);
    }
}
@media only screen and (max-width: 1000px) {
    .container {
        position: absolute;
        margin-left: 50%;
        transform: translateX(-55%);
    }
    .ci2 {
        font-size: 20em;
    }
}
@media only screen and (max-width: 780px) {
    .container {
        position: absolute;
        margin-left: 50%;
        transform: translateX(-55%);
    }
    .ci2 {
        font-size: 15em;
    }
}
@media only screen and (max-width: 690px) {
    .navbar {
        display: grid;
        grid-template-columns: 100px auto 150px;
        grid-template-rows: 40px 40px 40px ;
        margin: 40px;
    
        color: white;
    }
    .ni1 {
        grid-row: 2 / span 1;
    }
    .ni2 {
        grid-column: 3 / span 1;
    }
    .ni3 {
        grid-column: 3 / span 1;
    }
    .ni4 {
        grid-column: 3 / span 1;
    }
}
@media only screen and (max-width: 420px) {
    .container {
        display: grid; 
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 300px;

        background-color: #6805F2;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-40%);
    }
    .ci1 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    }
    .ci2 {
        grid-column: 1 / span 2 ;
        grid-row: 1 / span 2;

        font-size: 10em;
    }
}

a:link {
    color: white;
    text-decoration-line: none;
}
a:visited {
    color: white;
    text-decoration-line: none;
}
a:hover {
    color: white;
    text-decoration-line: none;
}
a:active {
    color: white;
    text-decoration-line: none;
}